@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

.bodySimple {
  background: #fff;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.bodyComplex {
  display: flex;
  flex-direction: column;
}

input {
  font-size: medium;
  padding: 2rem 1.5rem;
  display: inline-block;
  border: solid #404040 1px;
  border-radius: 8px;
  width: 20rem;
}
